<div class="admin-banner" [ngClass]="'admin-banner--' + accent">
  <div class="banner-content">
    <div class="banner-icon">
      <mat-icon>{{ icon }}</mat-icon>
    </div>
    <div class="banner-text">
      <div class="banner-title-row">
        <h2>{{ title }}</h2>
        <span class="banner-badge" *ngIf="badge">{{ badge }}</span>
      </div>
      <p *ngIf="subtitle">{{ subtitle }}</p>
    </div>
  </div>
  <div class="banner-actions">
    <ng-content select="[bannerActions]"></ng-content>
  </div>
</div>
